In [5]:
#!pip install pandasql
import pandas as pd
from pandasql import sqldf
from pandasql import load_births

In [10]:
df=load_births()
sql_df=sqldf("select * from df limit 5",locals())
#print(sqldf("select * from df limit 5"))
type(sql_df)

pandas.core.frame.DataFrame

In [11]:
q="select * from df limit 5"
print(sqldf(q,locals()))

                         date  births
0  1975-01-01 00:00:00.000000  265775
1  1975-02-01 00:00:00.000000  241045
2  1975-03-01 00:00:00.000000  268849
3  1975-04-01 00:00:00.000000  247455
4  1975-05-01 00:00:00.000000  254545