#### import numpy as np
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor
from scipy.stats import chi2_contingency
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [5]:
import os
os.chdir(r'D:\Documents\Data\Dataset')

In [ ]:
# DROP DUPLICATES
# drop_duplicates(self, subset=None, keep="first", inplace=False)
# subset:column label or sequence of labels to consider for identifying duplicate rows. 
#        By default, all the columns are used to find the duplicate rows.
# keep:  allowed values are {‘first’, ‘last’, False}, default ‘first’. 
#        If ‘first’, duplicate rows except the first one is deleted. 
#        If ‘last’, duplicate rows except the last one is deleted. 
#        If False, all the duplicate rows are deleted.
# inplace:if True, the source DataFrame is changed and None is returned. 
#        By default, source DataFrame remains unchanged and a new DataFrame instance is returned.

In [ ]:
#duplicated() return a series specifying whether whether a row is duplicate or not
duplicate_series=df.duplicated()
print(type(duplicate_series))
sum(duplicate_series)
print(duplicate_series.head(5))

In [ ]:
#dropping based on all columns and remove all occurence of duplicate rows and only keep the first. Default keep=first 
df2=df.copy(deep=True)
df=df.drop_duplicates()
print(df2.shape)
print(df.shape)

In [ ]:
#dropping based on all columns and remove all occurences of duplicate rows
df=df2.copy(deep=True)
df=df.drop_duplicates(keep=False)
print(df2.shape)
print(df.shape)

In [ ]:
#dropping based on one column
df=df2.copy(deep=True)
df=df.drop_duplicates('Hotel_Name')
print(df2.shape)
print(df.shape)

In [ ]:
#RENAME COLUMNS

In [ ]:
df.columns
df.rename(columns={'Hotel_Address':'Hotel_Add','Average_Score':'Avg_Score'},inplace=True)
df.columns

In [ ]:
#DROP COLUMNS, ROWS AND NA

In [ ]:
#dropping columns 
df2=df.copy(deep=True)
df.drop(['Hotel_Add'],axis=1,inplace=True)
print(df.columns)
df=df2.copy(deep=True)

In [ ]:
#drop rows 
index=df[df['Additional_Number_of_Scoring']==244].index
df.drop(index,axis=0,inplace=True)
df.head()

In [ ]:
#drop any number of rows
df.drop(df.loc[0:10].index, inplace=True) #drops rows from index 0 to 10(including 10)

In [ ]:
#drop na 
df=df.dropna(how="all")
df=df.dropna(how="any")

In [ ]:
#ADD COLUMNS AND ROWS

In [ ]:
#using append

In [ ]:
df2=df[['Avg_Score','Hotel_Name']].iloc[0:2]
#df2.index=np.arange(0,len(df2)+1) if index starts with 0
df2.index=np.arange(0,len(df2))
print(type(df2))
df2.head()

In [ ]:
hotel = [  (34, 'Sydeny' ),
             ( 30, 'Delhi' )  ]
 
#create a DataFrame object
df_to_be_added = pd.DataFrame(hotel, columns = ['Avg_Score', 'Hotel_Name' ])
df_to_be_added.head()

In [ ]:
df_combined=df2.append(df_to_be_added,ignore_index=True)
df_combined.head()

In [ ]:
#using dictionary and append

In [ ]:
df_combined = df_combined.append({'Avg_Score' : 2 , 'Hotel_Name'  : 'Delhi'} , ignore_index=True)
df_combined.head()

In [ ]:
#using series and append

In [ ]:
df_combined = df_combined.append(pd.Series([ 21, 'Bangalore'],index=df_combined.columns), ignore_index=True)
df_combined = df_combined.append(pd.Series([ 11, 'Bangalore'],index=df_combined.columns), ignore_index=True)
df_combined

In [ ]:
#using multiple series and append

In [ ]:
listOfSeries = [pd.Series([21, 'India'], index=df_combined.columns ) ,
                pd.Series([22,'Japan'], index=df_combined.columns )  ]
df_combined = df_combined.append(listOfSeries , ignore_index=True)
df_combined

In [ ]:
#REPLACE ROWS, VALUES AND NAN

In [ ]:
#replacing row
print(df_combined.head())
df_combined.iloc[2] = [ 26, 'India'] #replace the values at index 2
print(df_combined.head())

In [ ]:
#replacing a value
df_combined.replace(to_replace='Delhi',value='Pune',inplace=True)
df_combined.replace(to_replace=['Hotel Arena','Apex Temple Court Hotel'],value='Pune',inplace=True)
df_combined.replace('Pune','US',inplace=True)
df_combined

In [ ]:
#replacing Nan
df_combined.replace(to_replace=np.nan,value=0)

In [ ]:
#Conversion of data types

In [ ]:
#convert data type of all columns
df=df.astype('str')
print(df.dtypes)
df2=df.copy(deep=True)

In [ ]:
#convert data type of specific columns
#using dictionary to convert specific columns 
convert_dict = {'Additional_Number_of_Scoring':float,
                'Total_Number_of_Reviews': int,
                'Avg_Score':float
               }
#'Avg_score': int wont work because if you pass a string representation of a float into int
#or a string representation of anything but an integer (including empty string). 
#If you do want to pass a string representation of a float to an int, you can convert to a float first, then to an integer
  
df = df.astype(convert_dict) 
print(df.dtypes)

In [ ]:
#BINNING

In [ ]:
df['Additional_Number_of_Scoring_quantiles']=pd.qcut(df['Additional_Number_of_Scoring'],q=3)

In [ ]:
labels=[1,2,3]
df['Additional_Number_of_Scoring_labels']=pd.qcut(df['Additional_Number_of_Scoring'],q=3,labels=labels)
#terciles: q=[0, 1/3, 2/3, 1] or q=3
#uintiles: q=[0, .2, .4, .6, .8, 1] or q=5
#sextiles: q=[0, 1/6, 1/3, .5, 2/3, 5/6, 1] or q=6
#df['Additional_Number_of_Scoring_labels']=pd.qcut(df['Additional_Number_of_Scoring'],q=[0, .2, .4, .6, .8, 1])

In [ ]:
bins = np.arange(0,df['Additional_Number_of_Scoring'].max(),10)
labels=  np.arange(1,len(bins),1)
df['Additional_Number_of_Scoring_binned']=pd.cut(df['Additional_Number_of_Scoring'],bins=bins,labels=labels,include_lowest=True)

In [ ]:
df[['Additional_Number_of_Scoring','Additional_Number_of_Scoring_quantiles','Additional_Number_of_Scoring_labels','Additional_Number_of_Scoring_binned']].head(10)

In [ ]:
#NORMALITY

In [ ]:
df=pd.read_csv("Insurance.csv")

In [ ]:
#Checking normal distribution of variables
print("Skewness is ",df['charges'].skew())
stats.probplot(df['charges'],dist='norm',plot=plt)
plt.show()
sns.distplot(df['charges'])

In [ ]:
#MULTICOLLINEARITY

In [ ]:
#Correlation function

In [ ]:
fig = plt.gcf()  # or by other means, like plt.subplots
#gcf() allows you to get a reference to the current figure when using pyplot
figsize = fig.get_size_inches()
fig.set_size_inches(figsize * 1.5)
sns.heatmap(df.corr(),annot=True)

In [ ]:
df.corr().unstack().sort_values(ascending=False).drop_duplicates()

In [ ]:
df.head(2)

In [ ]:
#Vif

In [ ]:
df_copy=df.drop(['sex','smoker','region'],axis=1)
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(df_copy.values, i) for i in range(df_copy.shape[1])]
vif["features"] = df_copy.columns
vif.head()

In [ ]:
df_copy=df_copy.drop(['age'],axis=1)
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(df_copy.values, i) for i in range(df_copy.shape[1])]
vif["features"] = df_copy.columns
vif.head()

In [ ]:
#DUMMIES CREATION

In [6]:
train=pd.read_csv("loan.csv")

In [7]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [21]:
train['Gender']=train['Gender'].astype('category')

In [25]:
from sklearn.preprocessing import LabelBinarizer
binz = LabelBinarizer()
binz_transform=binz.fit_transform(train['Gender'])
binz_transform_df = pd.DataFrame(binz_transform,columns=binz.classes_)
binz_transform_df.head()

   Female  Male  nan
0       0     1    0
1       0     1    0
2       0     1    0
3       0     1    0
4       0     1    0

In [ ]:
# #Transformation on test
# binz_transform_test=binz.transform(test['Gender'])
# binz_transform_df_test = pd.DataFrame(binz_transform_test, columns = binz.classes_)
# binz_transform_df_test.head()

In [ ]:
#SCALING

In [ ]:
df=pd.read_csv("insurance.csv")
df.drop(['sex','smoker','region'],axis=1,inplace=True)
df.head(3)

In [ ]:
X=df.iloc[:,0:3].values
y=df.iloc[:,3].values
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [ ]:
X_Train_df=pd.DataFrame(X_train)
X_test_df=pd.DataFrame(X_test)
print(X_Train_df.head(5))
print(X_test_df.head(5))

In [ ]:
# mx=MinMaxScaler()
# X_train=mx.fit_transform(X_train)
# X_test=mx.transform(X_test)

In [ ]:
#IMPUTATION

In [ ]:
df=pd.read_csv("Titanic data.csv")

In [ ]:
df.isnull().sum(axis=0)
#df.isnull().sum(axis=1)

In [ ]:
sns.heatmap(df.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : 'Percentage of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        'Percentage of Total Values', ascending=False).round(1)
        return mis_val_table_ren_columns

In [ ]:
df_with_missing_value_columns=missing_values_table(df)

def df_with_half_missing_value_columns(mis_val_table_ren_columns):
    mis_val_table_ren_columns_2 = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] >= 50].sort_values(
        'Percentage of Total Values', ascending=False).round(1)
    return mis_val_table_ren_columns_2

df_with_half_missing_value_columns=drop_columns_with_half_nan(df_with_missing_value_columns)

def drop_df_with_half_missing_value_columns(df_with_half_missing_value_columns, df):
    for i in df_with_half_missing_value_columns.index:
        df.drop([i],axis=1,inplace=True)
    return df

df_without_half_missing_value_columns=drop_df_with_half_missing_value_columns(df_with_half_missing_value_columns,df)

In [ ]:
df_without_half_missing_value_columns.isnull().sum(axis=0)
#df.isnull().sum(axis=1)

In [ ]:
#df.dropna(how="all").shape
#df=df.dropna(how="all")

#df.dropna(how="all").shape
#df=df.dropna(how="any")

In [ ]:
# imp=SimpleImputer(missing_values=np.nan, strategy='median')
# df['Unnamed: 0']=imp.fit_transform(df[['Unnamed: 0']]).ravel()

# imp=SimpleImputer(missing_values=np.nan, strategy='mean')
# df['Unnamed: 0']=imp.fit_transform(df[['Unnamed: 0']]).ravel()

# imp=SimpleImputer(missing_values=np.nan, strategy='most_frequent')
# df['Unnamed: 0']=imp.fit_transform(df[['Unnamed: 0']]).ravel()

# imp=SimpleImputer(missing_values=np.nan, strategy='constant',fill_value=0)
# df['Age']=imp.fit_transform(df[['Age']]).ravel()

In [ ]:
df_without_Embarked_null=df_without_half_missing_value_columns[df_without_half_missing_value_columns['Embarked'].notnull()]
df_with_Embarked_null=df_without_half_missing_value_columns[df_without_half_missing_value_columns['Embarked'].isnull()]
df_without_Embarked_and_Age_null=df_without_Embarked_null[df_without_Embarked_null['Age'].notnull()]
#fit a model on df_without_Embarked_and_Age_null and predict on df_with_Embarked_null 
#then concat df_with_Embarked_null and df_without_Embarked_null to get a dataframe with no embarked null but with Age null 
#As of now we are not fitting model and concatenating dataframe to treat Embarked missing values
#We will just just Simple Imputer to import missing values in Embarked column 
#Then fit the model to impute Age missing values

In [ ]:
imp=SimpleImputer(missing_values=np.nan, strategy='constant',fill_value=0)
df_without_half_missing_value_columns['Embarked']=imp.fit_transform(df_without_half_missing_value_columns[['Embarked']]).ravel()
df_without_Age_null=df_without_half_missing_value_columns[df_without_half_missing_value_columns['Age'].notnull()]
df_with_Age_null=df_without_half_missing_value_columns[df_without_half_missing_value_columns['Age'].isnull()]

In [ ]:
#fit a model on df_without_Age_null and predict on df_with_Age_null 
#then concat df_with_Age_null and df_without_Age_null to get a dataframe with no Age null

In [ ]:
# OUTLIER TREATMENT

#sort the values and find the median i.e the middle value of entire column, 
#now the find the ist quartile i.e middle value of ist part of column
#now the find the ist quartile i.e middle value of iind part of column
#now find interquartile range i.e q3-q1
#outliers are values which are greater than upper_bound(q3+1.5(interquartile range)) 
#outliers are values which are less than lower_bound(q1-1.5(interquartile range))

In [ ]:
from sklearn.datasets import load_boston
boston=load_boston()
print(boston.data.shape)
print(boston.feature_names)
df=pd.DataFrame(boston.data,columns=boston.feature_names)
df.head()

In [ ]:
sns.boxplot(df['CRIM'])

In [ ]:
def Outliers(df,column_name):
    for j in column_name:
        Q3=df[j].quantile(0.75)
        Q1=df[j].quantile(0.25)
        IQR = df[j].quantile(0.75) - df[j].quantile(0.25)
        H=1.5*IQR
        Upper_Whiskar = Q3+H
        Lower_Whiskar = Q1-H
        Q95 = df[j].quantile(0.95)
        Q05 = df[j].quantile(0.05)
    
        print('Q3 for ',j, ': ', Q3)
        print('Q1 for ',j,': ', Q1)
        print('IQR for ',j,': ', IQR)
        print('H for ',j,': ', H)
        print('Upper Whiskar for ',j,': ', Upper_Whiskar)
        print('Lower Whiskar for ',j,': ', Lower_Whiskar)
    
        print('95th Quantile for ',j,': ', Q95)
        print('5th Quantile for',j,': ', Q05)
        ##df3[j] = df[j].clip(lower=Lower_Whiskar,upper = Upper_Whiskar, inplace=False)
        ##df[j].clip(lower=Lower_Whiskar,upper = Upper_Whiskar, inplace=True)
        for i in df[j].index.tolist():
            if(df.at[i,j]<Lower_Whiskar):
                df.at[i,j]= Q05
            if(df.at[i,j]>Upper_Whiskar):
                df.at[i,j]=Q95

In [ ]:
Outliers(df,['CRIM'])

In [ ]:
sns.boxplot(df['CRIM'])

In [ ]:
#DATE TREATMENT

In [ ]:
df=pd.read_csv('Online Retail.csv',encoding = "ISO-8859-1")

In [ ]:
print(df.dtypes)

In [ ]:
df.drop(df.loc[5:541909].index, inplace=True)

In [ ]:
df.InvoiceDate=pd.to_datetime(df.InvoiceDate)

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
#df.InvoiceDate.dt.date
#df.InvoiceDate.dt.time
#df.InvoiceDate.dt.year
#df.InvoiceDate.dt.month
#df.InvoiceDate.dt.day
#df.InvoiceDate.dt.hour
#df.InvoiceDate.dt.minute
#df.InvoiceDate.dt.second
#df.InvoiceDate.dt.microsecond
#df.InvoiceDate.dt.nanosecond
#df.InvoiceDate.dt.week
#df.InvoiceDate.dt.weekofyear
#df.InvoiceDate.dt.dayofweek
#df.InvoiceDate.dt.weekday
#df.InvoiceDate.dt.weekday_name
#df.InvoiceDate.dt.dayofyear
#df.InvoiceDate.dt.quarter
#df.InvoiceDate.dt.is_month_start
#df.InvoiceDate.dt.is_month_end
#df.InvoiceDate.dt.is_quarter_start
#df.InvoiceDate.dt.is_quarter_end
#df.InvoiceDate.dt.is_year_start
#df.InvoiceDate.dt.is_year_end
#df.InvoiceDate.dt.daysinmonth
#df.InvoiceDate.dt.days_in_month

In [ ]:
df['InvoiceDateDiff']=365-(df.InvoiceDate.dt.dayofyear)